nav{
    background-color: lightgray;
}
.text , a ,li{
    color: #9e4e0c !important;

}
.card a {
    background-color: lightgray;
}
.btnF{
    --bs-btn-color: #9e4e0c;
    --bs-btn-border-color: #9e4e0c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #9e4e0c;
    --bs-btn-hover-border-color: #9e4e0c;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #9e4e0c;
    --bs-btn-active-border-color: #9e4e0c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0d69e4e0cefd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #9e4e0c;
    --bs-gradient: none;
}

.btnP{
    --bs-btn-color: #fff;
    --bs-btn-bg: #9e4e0c;
    --bs-btn-border-color: #9e4e0c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #9e4e0c;
    --bs-btn-hover-border-color: #9e4e0c;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #9e4e0c;
    --bs-btn-active-border-color: #9e4e0c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #9e4e0c;
    --bs-btn-disabled-border-color: #9e4e0c;
}
.orangcard{
    border-color: #9e4e0c !important; 
}
.orangcard.card-header{
    background-color: #9e4e0c;
}
.list-group {
    border: none !important;
}
.padd {
    padding-left: 8rem;
}
.card2{
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.icon{
    color: #9e4e0c;
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;

}
.info h3{
    color: #9e4e0c;
    font-weight: 700;
    margin: 10px;
}